<section class="login-form">
  <h3>
    {{ pageTitle }}
  </h3>

  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
    autocomplete="off"
  >
    <mat-form-field>
      <!-- <label for="emailId">Email</label> -->
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field>
      <!-- <label class="col-md-2 col-form-label" for="passwordId">Password</label> -->
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>
  </form>

  <div>
    {{ currentUser$ | async | json }}
    {{ errorMessage$ | async }}
  </div>
</section>
