<section class="login-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
    autocomplete="off"
  >
    <h3>
      {{ pageTitle }}
    </h3>
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Log In
    </button>
    <div [hidden]="true">
      {{ errorMessage$ | async }}
    </div>
  </form>
</section>
