<div>
  <div>
    <div>
      {{ pageTitle }}
    </div>

    <div>
      <form
        class="needs-validation"
        novalidate
        (ngSubmit)="onSubmit()"
        [formGroup]="loginForm"
        autocomplete="off"
      >
        <fieldset>
          <div>
            <label for="emailId">Email</label>
            <div class="col-md-8">
              <input
                class="form-control"
                id="emailId"
                type="email"
                placeholder="Email (required)"
                formControlName="email"
                required
                name="email"
              />
              <div class="invalid-feedback">
                User name is required.
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="passwordId"
              >Password</label
            >
            <div class="col-md-8">
              <input
                class="form-control"
                id="passwordId"
                type="password"
                placeholder="Password (required)"
                formControlName="password"
                required
                name="password"
              />
              <div class="invalid-feedback">
                Password is required.
              </div>
            </div>
          </div>

          <div>
            <div>
              <span>
                <button
                  type="submit"
                  style="width: 80px; margin-right: 10px;"
                  [disabled]="!loginForm.valid"
                >
                  Log In
                </button>
              </span>
              <span>
                <a>
                  Cancel
                </a>
              </span>
            </div>
          </div>
        </fieldset>
      </form>

      <div>
        {{ currentUser$ | async | json }}
        {{ errorMessage$ | async }}
      </div>
    </div>
  </div>
</div>
