<div class="landing">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <ng-container
      *ngIf="currentUserStatus$ | async; then thenTemplate; else elseTemplate"
    ></ng-container>
    <ng-template #thenTemplate>
      <app-lists></app-lists>
    </ng-template>
    <ng-template #elseTemplate>
      <button mat-button color="primary" routerLink="/login">Login</button>
      <div>or</div>
      <button mat-button color="primary" routerLink="/signup">Signup</button>
    </ng-template>
  </div>
</div>
