<div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <div>
      <div *ngIf="!currentUserStatus$">
        <a mat-button color="primary" routerLink="/auth/login"> Login </a>
        <div>or</div>
        <a mat-button color="primary" routerLink="/auth/signup">Signup</a>
      </div>
    </div>
    <!-- <ng-container
      *ngIf="!currentUserStatus$ | async; then thenTemplate; else elseTemplate"
    ></ng-container>
    <ng-template #thenTemplate> </ng-template>
    <ng-template #elseTemplate>
    </ng-template> -->
  </div>
</div>
