<div class="landing">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <ng-container
      *ngIf="currentUserStatus$ | async; then thenTemplate; else elseTemplate"
    ></ng-container>
    <ng-template #thenTemplate>
      <app-lists></app-lists>
    </ng-template>
    <ng-template #elseTemplate>
      <a mat-button color="primary" routerLink="/auth/login"> Login </a>
      <div>or</div>
      <a mat-button color="primary" routerLink="/auth/signup">Signup</a>
    </ng-template>
  </div>
</div>
