<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
    [formGroup]="signupForm"
    autocomplete="off"
  >
    <h3>
      {{ pageTitle }}
    </h3>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="First Name *"
        formControlName="firstName"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email *"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field class="form-group row">
      <input
        matInput
        type="password"
        placeholder="Password *"
        formControlName="password"
        matTooltip="8 characters / 1 upper case / 1 lower case / 1 number / 1 symbol"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!signupForm.valid"
    >
      Sign Up
    </button>
    <div>
      <a routerLink="/login"> or Login</a>
    </div>
    <div [hidden]="true">
      {{ errorMessage$ | async }}
    </div>
  </form>
</section>
