<section class="lists-input">
  <h3>{{ pageTitle }}</h3>
  <form
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
    [formGroup]="createListForm"
    autocomplete="off"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="New List Name"
        formControlName="name"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-mini-fab
      color="primary"
      [disabled]="createListForm.invalid"
    >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </form>
  <div *ngIf="name" class="lists">
    <mat-card fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <a (click)="onClick()">{{ name }}</a>
      </div>
      <div fxLayout="row">
        <div class="list-icon">
          <a href=""><mat-icon>list</mat-icon></a>
        </div>
        <div>
          <a href=""><mat-icon>delete</mat-icon></a>
        </div>
      </div>
    </mat-card>
  </div>
</section>
<!-- routerLink="/list" -->
<!-- <app-list *ngIf="showList"></app-list> -->
