<h2>{{ name }}</h2>
<section class="list">
  <form
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
    [formGroup]="createItemForm"
    autocomplete="off"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Add Item"
        formControlName="item"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="createItemForm.invalid"
    >
      Add New Item
    </button>
  </form>
</section>
<h1>{{ list | json }}</h1>
