<section class="list">
  <h3>{{ name }}</h3>
  <form
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    (ngSubmit)="onSubmit()"
    [formGroup]="createItemForm"
    autocomplete="off"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Add Item"
        formControlName="item"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-mini-fab
      color="primary"
      [disabled]="createItemForm.invalid"
    >
      <mat-icon>add</mat-icon>
    </button>
  </form>
</section>

<div *ngIf="pendingItems.length + pickedItems.length" class="lists-container">
  <div class="example-container">
    <h4>Pending</h4>
    <div
      cdkDropList
      id="pending-items"
      [cdkDropListData]="pendingItems"
      [cdkDropListConnectedTo]="['picked-items']"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of pendingItems" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h4>Picked</h4>

    <div
      cdkDropList
      id="picked-items"
      [cdkDropListData]="pickedItems"
      [cdkDropListConnectedTo]="['pending-items']"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of pickedItems" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
</div>
