<h1>GList</h1>

<ng-container
  *ngIf="currentUserStatus$ | async; then thenTemplate; else elseTemplate"
></ng-container>
<ng-template #thenTemplate>
  {{ currentUser$ | async | json }} is logged in
  <button (click)="logout()">Log out</button>
  Status {{ currentUserStatus$ | async }}
</ng-template>
<ng-template #elseTemplate>
  <a [routerLink]="['/signup']">Signup</a>

  <a [routerLink]="['/login']">Login</a>

  {{ currentUser$ | async | json }} is not logged in Status
  {{ currentUserStatus$ | async }}
</ng-template>
