<h1>GList</h1>

<ng-container
  *ngIf="currentUserStatus$ | async; then thenTemplate; else elseTemplate"
></ng-container>
<ng-template #thenTemplate>
  {{ currentUser$ | async | json }} is logged in
  <button (click)="logout()">Log out</button>
  Status {{ currentUserStatus$ | async }}
</ng-template>
<ng-template #elseTemplate>
  <a [routerLink]="['/signup']">Signup</a>

  <a [routerLink]="['/login']">Login</a>

  {{ currentUser$ | async | json }} is not logged in Status
  {{ currentUserStatus$ | async }}
</ng-template>

<mat-nav-list>
  <a
    *ngIf="!(currentUserStatus$ | async)"
    mat-list-item
    routerLink="/signup"
    (click)="onClose()"
  >
    <mat-icon>face</mat-icon>
    <span class="nav-caption" (click)="onClose()">Signup</span>
  </a>
  <a *ngIf="!(currentUserStatus$ | async)" mat-list-item routerLink="/login">
    <mat-icon>login</mat-icon>
    <span class="nav-caption" (click)="onClose()">Login</span>
  </a>
  <a *ngIf="currentUserStatus$ | async" mat-list-item routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption" (click)="onClose()">Training</span>
  </a>
  <mat-list-item *ngIf="currentUserStatus$ | async">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption" (click)="logout()">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
