<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>GList</span>
      <span class="example-spacer"></span>
      <div *ngIf="currentUserStatus$ | async">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button (click)="logout()" mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
  <ng-container
    *ngIf="currentUserStatus$ | async; then thenTemplate; else elseTemplate"
  ></ng-container>
  <ng-template #thenTemplate>
    {{ currentUserName$ | async }} is logged in
    <app-lists></app-lists>
  </ng-template>
  <ng-template #elseTemplate>
    <button mat-button color="primary" routerLink="/login">
      Login
    </button>
    <div>or</div>
    <button mat-button color="primary" routerLink="/signup">
      Signup
    </button>
  </ng-template>
</div>
